<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agrishop.dao.AdminDao">
    <select id="selectByUsername" resultType="Admin">
        SELECT * FROM admin WHERE username = #{username}
    </select>
    <select id="selectById" resultType="Admin">
        SELECT * FROM admin WHERE id = #{id}
    </select>
    <update id="updateById">
        UPDATE admin
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
